# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
/test

# next.js
/.next/
/out/

# production
/build

# local env files
.env

/prometheus

**/*.trace
**/*.zip
**/*.tar.gz
**/*.tgz
**/*.log
package-lock.json
**/*.bun